{% include "autogen_warning.jinja" %}

import typing

import capstone
import keystone
import unicorn
import unicorn.ppc_const # https://github.com/unicorn-engine/unicorn/pull/2288
import qiling.const

import archist.core
import archist.modes

{% for a in arches %}
class {{ a.name }}(archist.core.Arch):
    name = "{{ a.name }}"
    ks = {{ a.ks }}
    cs = {{ a.cs }}
    uc = {{ a.uc }}
    ql = {{ a.ql }}

{% if a.ks != "None" %}
    @classmethod
    {% set class_name = "Ks" %}{% include 'wrapper_args.py.jinja' %}
{% endif %}

{% if a.cs != "None" %}
    @classmethod
    {% set class_name = "Cs" %}{% include 'wrapper_args.py.jinja' %}
{% endif %}

{% if a.uc != "None" %}
    @classmethod
    {% set class_name = "Uc" %}{% include 'wrapper_args.py.jinja' %}
{% endif %}

{% if a.modes | length > 0 %}
    class Modes:
        {% for mt in a.modes %}{{ mt.name | lower }} = archist.modes.{{ mt.name }}
        {% endfor %}
{% endif %}

{% if a.registers | length > 0 %}
    class Regs:
        {% for reg_name, lib_name in a.registers.items() %}{{ reg_name | lower }}={{ lib_name }}
        {% endfor %}
{% endif %}

{% endfor %}

ALL_ARCHES = [{{ arches | map(attribute="name") | join(", ") }}]