def {{ class_name }}(
        cls,
        endian:archist.core.Endian|str = archist.core.LITTLE_ENDIAN,
        {% if a.all_mode_aliases(class_name) | length > 0 %}mode:archist.core.Mode | typing.Literal[{{ a.all_mode_aliases(class_name) | join(",") }}] = archist.core.NO_MODES,{% endif %}
        {% for m in a.modifiers %}{{ m.name | lower }}:bool = False,
        {% endfor %}
    ):
        return cls._{{ class_name }}(
            mode{% if a.all_mode_aliases(class_name) | length != 0 %}=mode{% else %}=archist.core.NO_MODES{% endif %},
            endian=endian,
            {% for m in a.modifiers %}{{ m.name | lower }} = False,
            {% endfor %}
        )
